$back-color: rgb(255, 255, 255);
$text-color: rgb(40, 40, 40);
$content-width: 80vw;
$max-content-width: 80vw;
$font-monospace: 'Inconsolata', monospace;
$font-normal: 'Open Sans', sans-serif;

body {
  background-color: $back-color;
  font-family: $font-normal;
  color: $text-color;
  line-height: 1.5em;
}

.container {
  width: $content-width;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 300px;
}

.character {
  @extend .fadein;
}

.no-char-fade {
  .character {
    animation: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation-name: fadein;
  animation-duration: 300ms;
}

#google-video {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-indent: 3em;
}

#source {
  display: none;
}

.style {
  background-color: rgb(75, 82, 169);
  color: white;
  padding: 3px 10px 3px 10px;
  font-size: 40px;
  font-family: $font-monospace;
  line-height: 50px;
}

$chars: 100;

@function contrast($component) {
  @if $component < 255 / 2 {
    @return $component + 255 / 2;
  }

  @return $component - 255 / 2;
}

.examples {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  .example-container {
    $width: 450px;

    background-color: darken($back-color, 10);
    display: inline-block;
    min-width: $width;
    max-width: $width;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    margin: 20px;

    .title {
      background-color: darken($back-color, 15);
      padding: 3px 20px;
      font-size: 12px;
      font-weight: bold;
      font-family: $font-monospace;

      .redo {
        display: inline;
        float: right;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .example {
      padding: 25px;
      font-size: 15px;

      .tply-template {
        display: none;
      }

      .tply-destination {
        min-height: 100px;
      }
    }

    .separator {
      background-color: lighten(#3f3f3f, 5);
      color: #d7d7d7;
      padding: 2px 10px;
      font-size: 15px;
      font-family: $font-monospace;
    }

    pre {
      margin: 0;
    }

    code {
      width: 100%;
    }
  }
}

h1 {
  text-align: center;
}

.page-title {
  font-size: 5em;
  margin-bottom: 1em;
}

#explanation {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: $content-width;
  border-radius: 2px;
  overflow: hidden;

  .title {
    background-color: darken($back-color, 15);
    padding: 3px 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: $font-monospace;
  }

  #explanation-text {
    padding: 10px 20px;
    font-size: 14px;
    background-color: darken($back-color, 10);
  }
}

.github-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;

  }

  100% {
    opacity: 1;
  }
}

.cursor {
  animation: blink 0.8s linear infinite alternate;
  background-color: rgb(84, 84, 84) !important;
}