$back-color: rgb(255, 255, 255);
$text-color: rgb(40, 40, 40);
$content-width: 1000px;
$max-content-width: 80vw;
$font-monospace: 'Inconsolata', monospace;
$font-normal: 'Arvo', serif;

$accent-blue: rgb(50, 38, 197);
$accent-2: rgb(148, 64, 114);

body {
  background-color: $back-color;
  font-family: $font-monospace;
  color: $text-color;
  line-height: 1.5em;
}

#template {
  display: initial;
}

#animation {
  margin-top: 20px;
}

.title {
  font-size: 4em;
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.container {
  width: $content-width;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 300px;
}

p {
}

.character {
  @extend .fadein;
}

.no-char-fade {
  .character {
    animation: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cover-go-away {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadein {
  animation-name: fadein;
  animation-duration: 300ms;
}

code {
  padding: 10px !important;
  border-radius: 2px;
  overflow: hidden;
  font-family: $font-monospace;
}

.gallery {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  $margin: 20px;
  padding-top: $margin;

  .section {
    position: relative;
    background-color: #d8d8d8;
    min-height: 250px;
    min-width: 350px;
    width: 40%;

    margin-bottom: $margin;
    margin-left: $margin / 2;
    margin-right: $margin / 2;

    .tply-container {
      .tply-template {
        display: none;
      }
    }

    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.15);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .description {
        font-weight: bold;
      }

      &.hidden {
        animation-name: cover-go-away;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;

        .description {
          text-decoration: underline
        }
      }
    }
  }
}