$back-color: rgb(255, 255, 255);
$text-color: rgb(40, 40, 40);
$content-width: 80vw;
$max-content-width: 80vw;
$font-monospace: 'Inconsolata', monospace;
$font-normal: 'Open Sans', sans-serif;

$accent-blue: rgb(50, 38, 197);
$accent-2: rgb(148, 64, 114);

body {
  background-color: $back-color;
  font-family: $font-normal;
  color: $text-color;
  line-height: 1.5em;
}

.container {
  width: $content-width;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 300px;
}

.character {
  @extend .fadein;
}

.no-char-fade {
  .character {
    animation: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation-name: fadein;
  animation-duration: 300ms;
}

#google-video {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-indent: 3em;
}

#source {
  display: none;
}

.style {
  background-color: rgb(75, 82, 169);
  color: white;
  padding: 3px 10px 3px 10px;
  font-size: 40px;
  font-family: $font-monospace;
  line-height: 50px;
}

$chars: 100;

@function contrast($component) {
  @if $component < 255 / 2 {
    @return $component + 255 / 2;
  }

  @return $component - 255 / 2;
}

.examples {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  .example-container {
    background-color: darken($back-color, 10);
    display: inline-block;
    min-width: 400px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    margin: 20px;

    .title {
      background-color: darken($back-color, 15);
      padding: 3px 20px;
      font-size: 12px;
      font-weight: bold;
      font-family: $font-monospace;

      .redo {
        display: inline;
        float: right;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .example {
      padding: 25px;
      font-size: 15px;

      .tply-template {
        display: none;
      }

      .tply-destination {
        min-height: 100px;
      }
    }

    code {

      width: 100%;
    }
  }

  pre {
    margin: 0;
  }
}

h1 {
  text-align: center;
}